[submodule "qrcodejs"]
	path = qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
[submodule "bower-js-stellar-sdk"]
	path = bower-js-stellar-sdk
	url = https://github.com/stellar/bower-js-stellar-sdk
