/* Toolkit */

#hidden { display: none; }

/* Page layout */

body
{
	background-color: aliceblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.2em;
}

header
{
	top: 0;
	max-width: 100%;
	overflow: hidden;
	font-style: italic;
	color: dimgrey;
}

h1
{
	display: inline;
	margin: 0.2em;
	font-size: 1.2em;
	text-transform: uppercase;
}


header span
{
	font-size: 0.8em;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

#tamper
{
	position: absolute;
	pointer-events: none;
	max-height: 50%;
	max-width: 40%;
	margin: auto;
	filter: grayscale(50%) opacity(30%);
	-webkit-filter: grayscale(50%) opacity(30%);
	-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.page
{
	max-width: 40em;
	margin: 1em auto;
	border: 0.2em solid lightgrey;
	border-radius: 1em;
	overflow: hidden;
	background-color: white;
	-webkit-box-shadow: 0.1em 0.1em 0.3em darkgrey;
			box-shadow: 0.1em 0.1em 0.3em darkgrey;
}

.content
{
	padding: 0 0.5em;
}

/* Content formatting */

h2
{
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}

hr
{
	border: 0;
	height: 0.2em;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(lightgrey), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), lightgrey, rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), lightgrey, rgba(0, 0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), lightgrey, rgba(0, 0, 0, 0));
}

form
{
	text-align: center;
}

form select, form [type="button"], form [type="submit"], #qrcode
{
	display: block;
	clear: both;
	width: 100%;
	max-width: 30em;
	margin: 1em auto 0.1em auto;
	border-radius: 0.2em;
}

[type="button"]:hover, [type="submit"]:hover
{
	background-color: lightgrey;
	cursor: pointer;
}

[type="checkbox"] {
	width: 1.1em;
	height: 1.1em;
}

aside
{
	text-align: right;
}

aside a:link
{
	font-stretch: condensed;
}

a:link
{
	text-decoration: none;
	color: grey;
}

a:hover
{
	color: burlywood;
	text-decoration: underline;
}

#redirect
{
	display: block;
	clear: both;
	width: 100%;
	max-width: 30em;
	margin: auto;
	border-radius: 0.2em;
}

#redirect.enabled
{
	background-color: lightgreen;
}

#redirect:hover
{
	background-color: mediumseagreen;
	cursor: pointer;
}


#qrcode
{
	background-color: ghostwhite;
}

#qrcode input {
	margin: 0;
}

#qrcode img {
	margin: auto;
	padding: 0.3em;
}

.step
{
	padding: 0.2em 0 0.2em 0;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	font-stretch: condensed;
}
